{% extends "infos/base.html" %}
{% load crispy_forms_tags %}
{%block bootstrap%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{%endblock%}
{% block body %}
        <form method="POST" enctype="multipart/form-data">
            <div class="profile-form">
            {{ form.non_field_errors }}
            {% csrf_token %}
            {{p_form|crispy}}
            {{u_form|crispy}}
            <input type="submit" value="Update" style="margin-bottom:30px;">
            </div>
        </form>
{% endblock %}
{% block navbar %}
    <div class="search">
            <form action="/search/users/{{user.id}}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Search Your Posts" name="search" id="search-bar" style="height:32px;">
                <button type="submit">Submit</button>
            </form>
    </div>  

<style>
    .nav-a {
        padding-top: 0px;
    }
</style>
{% endblock %}
{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="profile-sidebar">
            <div class="author">
                <p>{{user.username}}</p>
                <div class="image-cropper">
                    <img src='{{user.profile.image.url}}' class="profile-pic">
                </div>
            </div>
            <div class="rect" id="sidebar-inbox" onclick="
            window.location.href='/users/profile/inbox/'
            ">Inbox<br>
                <div class="red-circle">
                    <div class="inner-circle"><p>{{user.profile.alerts.count}}</p></div>
                </div>
            </div>
            <div id="sidebar-topics">
                    Your Top Topics:
                    <br>
                    <div class="rect" onclick=
                    "window.location.href = '/Topic/{{user.profile.topic1.id}}/?page=1'">{{user.profile.topic1.name}}</div>
                    <br>
                    <div class="rect" onclick=
                    "window.location.href = '/Topic/{{user.profile.topic2.id}}/?page=1'">{{user.profile.topic2.name}}</div>
                    <br>
                </div>
            <div class="rect" onclick=
            "window.location.href = '/Topic/{{user.profile.topic2.id}}/?page=1'">{{user.profile.topic3.name}}</div>
            </div>
    {% endif %}
{% endblock %}