{% extends "infos/base.html" %}
{% block navbar %}
    <div></div>
    <a href="/Topics" id="infos-topics" class="nav-a left">Topics</a>
    <a href="{%url 'infos-trending'%}" id="Trending" class="nav-a left">Trending</a>
    {% if not user.is_authenticated %}
    <a href="{%url 'users-register'%}"  id="Register" class="nav-a right">Register</a>
    <a href="{%url 'users-login'%}" id="Login" class="nav-a right">Login</a>
    {% else %}
    <a href="/users/logout"  id="Logout" class="nav-a right">Logout</a>
    <a href="{%url 'users-profile'%}" id="Profile" class="nav-a right">Profile</a>
    {% endif %}
    <div class="search">
            <form action="/" method="post">
                <input type="text" placeholder="Search..." name="search" id="search-bar">
                <button type="submit">Submit</button>
            </form>
    </div>  
{% endblock %}
{% block body %}
    <h1 style="text-align: center">Welcome to Infosum</h1>
    <br>
    <p style="text-align: center;">In Infosum, an online gathering of people with a thirst for knowledge, you can
        see different opinions of a certain topic, share your thoughts by creating posts,
        and debate other people's ideas. Register to begin!
    </p>
{% endblock %}
{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="profile-sidebar">
            <div class="author">
                <p>{{user.username}}</p>
                <div class="image-cropper">
                    <img src='{{user.profile.image.url}}' class="profile-pic">
                </div>
            </div>
            <div class="rect" id="sidebar-inbox">Inbox<br>
                <div class="red-circle">
                    <div class="inner-circle"><p>0</p></div>
                </div>
            </div>
            <div class="rect" id="sidebar-topics">
                Top Topics:<br>
                Politics<br>
                Technology<br>
                Science
            </div>
            <div class="rect" id="create-topic">Create Topic</div>
        </div>
    {% endif %}
{% endblock %}