{% extends "infos/base.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
    <div class="search">
            <form action="/search/topics/" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Search Topics" name="search" id="search-bar">
                <button type="submit">Submit</button>
            </form>
    </div>  
{% endblock %}
{% block body %}
<div class="bigpost">
    <div class="bigpost-author">
        <p>{{post.author.username}}</p>
        <small>{{post.author.email}}</small>
        <div class="image-cropper">
            <img src='{{post.author.profile.image.url}}' class="profile-pic">
        </div>
        <small>
            Created on {{post.date_created}}
        </small>
    </div>
    <div class="bigpost-content">
        <h1 style="text-align:center;">{{post.title}}</h1>
        {%if post.author.id == user.id%}
        <button type="submit" form="deleteform" class="deletepost" value="Submit" onclick=
        "window.location.href='/delete/post/{{post.id}}'"><img src=
            "/media/redx.png" style="width: 25px;height: 25px;">
            </button>
            <button type="submit" form="deleteform" class="deletepost" value="Submit"><img src=
                "/media/pencil.png" style="width: 25px;height: 25px;">
                </button>
        {%endif%}
        <hr>
        <form method="POST" action="/Post/{{post.id}}/update/">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Update">
        </form>
    </div>
</div>
<div class="comments">
    {% for comment in post.comments.all %}
    <div class="comment">
        <div class="commentauthor">
            <p style="text-align:center; margin: 0px;">{{comment.author.username}}</p>
            <div class="small-image-cropper" style="margin: 0 auto;">
                <img src='{{comment.author.profile.image.url}}' class="profile-pic">
            </div>
        </div>
        {{comment.comment}}
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="profile-sidebar">
            <div class="author">
                <p>{{user.username}}</p>
                <div class="image-cropper">
                    <img src='{{user.profile.image.url}}' class="profile-pic">
                </div>
            </div>
            <div class="rect" id="sidebar-inbox" onclick="
            window.location.href='/users/profile/inbox/'
            ">Inbox<br>
                <div class="red-circle">
                    <div class="inner-circle"><p>{{user.profile.alerts.count}}</p></div>
                </div>
            </div>
            <div id="sidebar-topics">
                    Top Topics:
                    <br>
                    <div class="rect" onclick="window.location.href = 
                    '/Topic/{{user.profile.topic1.id}}/?page=1'">{{user.profile.topic1.name}}</div>
                    <br>
                    <div class="rect" onclick=
                    "window.location.href = '/Topic/{{user.profile.topic2.id}}/?page=1'">{{user.profile.topic2.name}}</div>
                    <br>
                    <div class="rect" onclick=
                    "window.location.href = '/Topic/{{user.profile.topic3.id}}/?page=1'">{{user.profiletopic3.name}}</div>
                </div>
                <div class="rect" id="create-topic" onclick=
                "window.location.href = '/Posts/create/?topic={{post.topic_id}}'">
                Create Post</div>
        </div>
    {% endif %}
{% endblock %}