{% extends "infos/base.html" %}
{% block navbar %}
    <div class="search">
            <form action="/search/in/{{topic.id}}/" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Search Posts" name="search" id="search-bar">
                <button type="submit">Submit</button>
            </form>
    </div>  
{% endblock %}
{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="profile-sidebar">
            <div class="author">
                <p>{{user.username}}</p>
                <div class="image-cropper">
                    <img src='{{user.profile.image.url}}' class="profile-pic">
                </div>
            </div>
            <div class="rect" id="sidebar-inbox" onclick="
            window.location.href='/users/profile/inbox/'
            ">Inbox<br>
                <div class="red-circle">
                    <div class="inner-circle"><p>{{user.profile.alerts.count}}</p></div>
                </div>
            </div>
            <div id="sidebar-topics">
                    Your Top Topics:
                    <br>
                    <div class="rect" onclick="window.location.href = 
                    '/Topic/{{user.profile.topic1.id}}/?page=1'">{{user.profile.topic1.name}}</div>
                    <br>
                    <div class="rect" onclick=
                    "window.location.href = '/Topic/{{user.profile.topic2.id}}/?page=1'">{{user.profile.topic2.name}}</div>
                    <br>
                    <div class="rect" onclick=
                    "window.location.href = '/Topic/{{user.profile.topic3.id}}/?page=1'">{{user.profile.topic3.name}}</div>
                </div>
            <div class="rect" id="create-post" onclick=
            "window.location.href = '/Posts/create/?topic={{topic.id}}'">
            Create Post</div>
        </div>
    {% endif %}
{% endblock %}
{% block body %}
{% for field in fields %}
<div class="listfield">
        <h3><a href="/Field/{{field.id}}/?page=1">{{field.name}}</a></h3>
</div>
{% endfor %}
{% endblock %}