{% extends "infos/base.html" %}
{% block navbar %}
    <div class="search">
            <form action="/search/all/" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Search Infosum" name="search" id="search-bar">
                <button type="submit">Submit</button>
            </form>
    </div>  
{% endblock %}
{% block body %}
    <h1 style="text-align: center">Welcome to Topics of Today</h1>
    <br>
    <p style="text-align: center;">In Topics of Today, an online gathering of people with a thirst for knowledge, you can
        see different opinions of a certain topic, share your thoughts by creating posts,
        and debate other people's ideas. Register to begin!
    </p>
{% endblock %}
{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="profile-sidebar">
            <div class="author">
                <p>{{user.username}}</p>
                <div class="image-cropper">
                    <img src='{{user.profile.image.url}}' class="profile-pic">
                </div>
            </div>
            <div class="rect" id="sidebar-inbox" onclick="
            window.location.href='/users/profile/inbox/'
            ">Inbox<br>
                <div class="red-circle">
                    <div class="inner-circle"><p>{{user.profile.alerts.count}}</p></div>
                </div>
            </div>
            <div id="sidebar-topics">
                Your Top Topics:
                <br>
                <div class="rect" onclick="window.location.href = 
                '/Topic/{{topic1.id}}/?page=1'">{{topic1.name}}</div>
                <br>
                <div class="rect" onclick=
                "window.location.href = '/Topic/{{topic2.id}}/?page=1'">{{topic2.name}}</div>
                <br>
                <div class="rect" onclick=
                "window.location.href = '/Topic/{{topic3.id}}/?page=1'">{{topic3.name}}</div>
            </div>
            <div class="rect" id="create-topic" onclick=
            "window.location.href = '/Topics/create/'">
            Create Topic</div>
        </div>
    {% else %}
    <h1 style="text-align:center;">Login</h1>
    <p style="text-align:center;">for access to Topics</p>
    {% endif %}
{% endblock %}